In [17]:
# Import Dependencies
import pandas as pd
from pathlib import Path
import numpy as np

In [2]:
# Store filepaths into variable
company_location = Path("raw data/Fortune_1000.csv")
company_2022 = Path("raw data/fortune_1000_2022.csv")
company_2021 = Path("raw data/fortune_1000_2021.csv")

In [3]:
# Read in files.
company_location_df = pd.read_csv(company_location)
company_2022_df = pd.read_csv(company_2022)
company_2021_df = pd.read_csv(company_2021)

In [4]:
# Display the companies with location dataset
company_location_df.head()

,company,rank,rank_change,revenue,profit,num. of employees,sector,city,state,newcomer,ceo_founder,ceo_woman,profitable,prev_rank,CEO,Website,Ticker,Market Cap
0,Walmart,1,0.0,572754.0,13673.0,2300000.0,Retailing,Bentonville,AR,no,no,no,yes,1.0,C. Douglas McMillon,https://www.stock.walmart.com,WMT,352037
1,Amazon,2,0.0,469822.0,33364.0,1608000.0,Retailing,Seattle,WA,no,no,no,yes,2.0,Andrew R. Jassy,www.amazon.com,AMZN,1202717
2,Apple,3,0.0,365817.0,94680.0,154000.0,Technology,Cupertino,CA,no,no,no,yes,3.0,Timothy D. Cook,www.apple.com,AAPL,2443962
3,CVS Health,4,0.0,292111.0,7910.0,258000.0,Health Care,Woonsocket,RI,no,no,yes,yes,4.0,Karen Lynch,https://www.cvshealth.com,CVS,125204
4,UnitedHealth Group,5,0.0,287597.0,17285.0,350000.0,Health Care,Minnetonka,MN,no,no,no,yes,5.0,Andrew P. Witty,www.unitedhealthgroup.com,UNH,500468

In [7]:
# Display the companies of 2022
company_2022_df.head(10)

,rank in 2022,Name,Revenue,revenue(% change),profits in millions,profits % change\r,assets,market value,change in rank of top 1000 companies,employees,change in rank(500 only)\r\n
0,1,Walmart,"$572,754",2.40%,"$13,673",1.20%,"$244,860","$409,795",-,"2,300,000",-
1,2,Amazon,"$469,822",21.70%,"$33,364",56.40%,"$420,549","$1,658,807.30",-,"1,608,000",-
2,3,Apple,"$365,817",33.30%,"$94,680",64.90%,"$351,002","$2,849,537.60",-,"154,000",-
3,4,CVS Health,"$292,111",8.70%,"$7,910",10.20%,"$232,999","$132,839.20",-,"258,000",-
4,5,UnitedHealth Group,"$287,597",11.80%,"$17,285",12.20%,"$212,206","$479,830.30",-,"350,000",-
5,6,Exxon Mobil,"$285,640",57.40%,"$23,040",-,"$338,923","$349,652.40",4,"63,000",4
6,7,Berkshire Hathaway,"$276,094",12.50%,"$89,795",111.20%,"$958,784","$779,542.30",-1,"372,000",-1
7,8,Alphabet,"$257,637",41.20%,"$76,033",88.80%,"$359,268","$1,842,326.10",1,"156,500",1
8,9,McKesson,"$238,228",3.10%,"-$4,539",-604.30%,"$65,015","$45,857.80",-2,"67,500",-2
9,10,AmerisourceBergen,"$213,988.80",12.70%,"$1,539.90",-,"$57,337.80","$32,355.70",-2,"40,000",-2

In [6]:
# Display the companies of 2022
company_2021_df.head()

,Unnamed: 0,Rank,Name,Revenue,revenue(% change),profits in millions,profits % change,assets,market value,change in rank in 1000,employees,change in rank(500 only),measure_up_rank
0,0,1,Walmart,"$559,151",0.067,"$13,510",-0.092,"$252,496","$382,642.8",-,2300000,-,20
1,1,2,Amazon,"$386,064",0.376,"$21,331",0.841,"$321,195","$1,558,069.6",-,1298000,-,11
2,2,3,Apple,"$274,515",0.055,"$57,411",0.039,"$323,888","$2,050,665.9",1,147000,1,188
3,3,4,CVS Health,"$268,706",0.046,"$7,179",0.082,"$230,715","$98,653.2",1,256500,1,57
4,4,5,UnitedHealth Group,"$257,141",0.062,"$15,403",0.113,"$197,289","$351,725",2,330000,2,25

In [8]:
# Merge company_2022 table with company_2021 table on name, with selected columns 
merged_df = company_2022_df.merge(company_2021_df, on="Name", suffixes=('', '_2021'))

In [11]:
# Select the required columns from the merged dataframe
selected_columns = [
    "Name", "Revenue", "revenue(% change)", "profits in millions", "market value", "employees", 
    "Revenue_2021", "revenue(% change)_2021", "profits in millions_2021",
    "market value_2021", "employees_2021"
]
result_df = merged_df[selected_columns]

In [12]:
result_df

,Name,Revenue,revenue(% change),profits in millions,market value,employees,Revenue_2021,revenue(% change)_2021,profits in millions_2021,market value_2021,employees_2021
0,Walmart,"$572,754",2.40%,"$13,673","$409,795","2,300,000","$559,151",0.067,"$13,510","$382,642.8",2300000
1,Amazon,"$469,822",21.70%,"$33,364","$1,658,807.30","1,608,000","$386,064",0.376,"$21,331","$1,558,069.6",1298000
2,Apple,"$365,817",33.30%,"$94,680","$2,849,537.60","154,000","$274,515",0.055,"$57,411","$2,050,665.9",147000
3,CVS Health,"$292,111",8.70%,"$7,910","$132,839.20","258,000","$268,706",0.046,"$7,179","$98,653.2",256500
4,UnitedHealth Group,"$287,597",11.80%,"$17,285","$479,830.30","350,000","$257,141",0.062,"$15,403","$351,725",330000
...,...,...,...,...,...,...,...,...,...,...,...
913,Harsco,"$2,147",14.60%,-$3.20,$969.70,"12,000","$1,874.1",0.035,$-26.3,"$1,354.7",11900
914,Beazer Homes USA,"$2,140.30",0.60%,$122,$478.80,"1,052","$2,127.1",0.019,$52.2,$653.6,1063
915,Chemed,"$2,139.30",2.90%,$268.60,"$7,592.50","14,137","$2,079.6",0.073,$319.5,"$7,372.2",15544
916,BWX Technologies,"$2,124.10",-,$305.90,"$4,925.60","6,600","$2,123.5",0.121,$278.7,"$6,273.6",6700
917,Ashland Global Holdings,"$2,111",-11.20%,$220,"$5,601.90","4,100","$2,377",-0.322,$-508,"$5,385.4",4500

In [23]:
# Rename the columns in the resulting dataframe
result_df = result_df.rename(columns={
    "Revenue": "Revenue_2022",
    "revenue(% change)": "Revenue(% change)_2022",
    "profits in millions": "Profits In Millions_2022",
    "market value": "Market Value_2022",
    "employees": "Employees_2022"
})

# Capitalize all column names
result_df.columns = result_df.columns.str.capitalize()

# Print the dataframe with capitalized column names
result_df

,Name,Revenue_2022,Revenue(% change)_2022,Profits in millions_2022,Market value_2022,Employees_2022,Revenue_2021,Revenue(% change)_2021,Profits in millions_2021,Market value_2021,Employees_2021
0,Walmart,"$572,754",2.40%,"$13,673","$409,795","2,300,000","$559,151",0.067,"$13,510","$382,642.8",2300000
1,Amazon,"$469,822",21.70%,"$33,364","$1,658,807.30","1,608,000","$386,064",0.376,"$21,331","$1,558,069.6",1298000
2,Apple,"$365,817",33.30%,"$94,680","$2,849,537.60","154,000","$274,515",0.055,"$57,411","$2,050,665.9",147000
3,CVS Health,"$292,111",8.70%,"$7,910","$132,839.20","258,000","$268,706",0.046,"$7,179","$98,653.2",256500
4,UnitedHealth Group,"$287,597",11.80%,"$17,285","$479,830.30","350,000","$257,141",0.062,"$15,403","$351,725",330000
...,...,...,...,...,...,...,...,...,...,...,...
913,Harsco,"$2,147",14.60%,-$3.20,$969.70,"12,000","$1,874.1",0.035,$-26.3,"$1,354.7",11900
914,Beazer Homes USA,"$2,140.30",0.60%,$122,$478.80,"1,052","$2,127.1",0.019,$52.2,$653.6,1063
915,Chemed,"$2,139.30",2.90%,$268.60,"$7,592.50","14,137","$2,079.6",0.073,$319.5,"$7,372.2",15544
916,BWX Technologies,"$2,124.10",NaN,$305.90,"$4,925.60","6,600","$2,123.5",0.121,$278.7,"$6,273.6",6700
917,Ashland Global Holdings,"$2,111",-11.20%,$220,"$5,601.90","4,100","$2,377",-0.322,$-508,"$5,385.4",4500

In [24]:
# Replace "-" with NaN in the dataframe
result_df.replace("-", np.nan, inplace=True)

# Check for null values in the dataframe
null_values = result_df.isnull()

In [25]:
null_counts = result_df.isnull().sum()

# Print the count of null values
print(null_counts)

Name                         0
Revenue_2022                 0
Revenue(% change)_2022       3
Profits in millions_2022     3
Market value_2022           42
Employees_2022               0
Revenue_2021                 0
Revenue(% change)_2021      12
Profits in millions_2021     2
Market value_2021           38
Employees_2021               0
dtype: int64

In [26]:
# Remove rows with null values from the dataframe
result_df_cleaned = result_df.dropna()

# Print the cleaned dataframe
result_df_cleaned

,Name,Revenue_2022,Revenue(% change)_2022,Profits in millions_2022,Market value_2022,Employees_2022,Revenue_2021,Revenue(% change)_2021,Profits in millions_2021,Market value_2021,Employees_2021
0,Walmart,"$572,754",2.40%,"$13,673","$409,795","2,300,000","$559,151",0.067,"$13,510","$382,642.8",2300000
1,Amazon,"$469,822",21.70%,"$33,364","$1,658,807.30","1,608,000","$386,064",0.376,"$21,331","$1,558,069.6",1298000
2,Apple,"$365,817",33.30%,"$94,680","$2,849,537.60","154,000","$274,515",0.055,"$57,411","$2,050,665.9",147000
3,CVS Health,"$292,111",8.70%,"$7,910","$132,839.20","258,000","$268,706",0.046,"$7,179","$98,653.2",256500
4,UnitedHealth Group,"$287,597",11.80%,"$17,285","$479,830.30","350,000","$257,141",0.062,"$15,403","$351,725",330000
...,...,...,...,...,...,...,...,...,...,...,...
912,New Jersey Resources,"$2,156.60",10.40%,$117.90,"$4,405.40","1,251","$1,953.7",-0.246,$193.9,"$3,837.5",1156
913,Harsco,"$2,147",14.60%,-$3.20,$969.70,"12,000","$1,874.1",0.035,$-26.3,"$1,354.7",11900
914,Beazer Homes USA,"$2,140.30",0.60%,$122,$478.80,"1,052","$2,127.1",0.019,$52.2,$653.6,1063
915,Chemed,"$2,139.30",2.90%,$268.60,"$7,592.50","14,137","$2,079.6",0.073,$319.5,"$7,372.2",15544
917,Ashland Global Holdings,"$2,111",-11.20%,$220,"$5,601.90","4,100","$2,377",-0.322,$-508,"$5,385.4",4500

In [41]:
# Eliminate unwanted columns in the location dataset
company_location_df = company_location_df[["company", "sector", "city", "state", "ceo_woman"]]

In [42]:
# Merging the selected columns from df1 with all columns from df2 based on "company" column
merged_df = result_df_cleaned.merge(company_location_df, left_on="Name", right_on="company")
merged_df.drop(columns=["company"], inplace=True)
merged_df

,Name,Revenue_2022,Revenue(% change)_2022,Profits in millions_2022,Market value_2022,Employees_2022,Revenue_2021,Revenue(% change)_2021,Profits in millions_2021,Market value_2021,Employees_2021,sector,city,state,ceo_woman
0,Walmart,"$572,754",2.40%,"$13,673","$409,795","2,300,000","$559,151",0.067,"$13,510","$382,642.8",2300000,Retailing,Bentonville,AR,no
1,Amazon,"$469,822",21.70%,"$33,364","$1,658,807.30","1,608,000","$386,064",0.376,"$21,331","$1,558,069.6",1298000,Retailing,Seattle,WA,no
2,Apple,"$365,817",33.30%,"$94,680","$2,849,537.60","154,000","$274,515",0.055,"$57,411","$2,050,665.9",147000,Technology,Cupertino,CA,no
3,CVS Health,"$292,111",8.70%,"$7,910","$132,839.20","258,000","$268,706",0.046,"$7,179","$98,653.2",256500,Health Care,Woonsocket,RI,yes
4,UnitedHealth Group,"$287,597",11.80%,"$17,285","$479,830.30","350,000","$257,141",0.062,"$15,403","$351,725",330000,Health Care,Minnetonka,MN,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
840,Dropbox,"$2,157.90",12.70%,$335.80,"$8,873.50","2,667","$1,913.9",0.152,$-256.3,"$11,056.4",2760,Technology,San Francisco,CA,no
841,New Jersey Resources,"$2,156.60",10.40%,$117.90,"$4,405.40","1,251","$1,953.7",-0.246,$193.9,"$3,837.5",1156,Energy,Wall,NJ,no
842,Harsco,"$2,147",14.60%,-$3.20,$969.70,"12,000","$1,874.1",0.035,$-26.3,"$1,354.7",11900,Business Services,Camp Hill,PA,no
843,Beazer Homes USA,"$2,140.30",0.60%,$122,$478.80,"1,052","$2,127.1",0.019,$52.2,$653.6,1063,Engineering & Construction,Atlanta,GA,no
844,Chemed,"$2,139.30",2.90%,$268.60,"$7,592.50","14,137","$2,079.6",0.073,$319.5,"$7,372.2",15544,Health Care,Cincinnati,OH,no

In [43]:
# Capitalize all column names
merged_df.columns = merged_df.columns.str.capitalize()
merged_df

,Name,Revenue_2022,Revenue(% change)_2022,Profits in millions_2022,Market value_2022,Employees_2022,Revenue_2021,Revenue(% change)_2021,Profits in millions_2021,Market value_2021,Employees_2021,Sector,City,State,Ceo_woman
0,Walmart,"$572,754",2.40%,"$13,673","$409,795","2,300,000","$559,151",0.067,"$13,510","$382,642.8",2300000,Retailing,Bentonville,AR,no
1,Amazon,"$469,822",21.70%,"$33,364","$1,658,807.30","1,608,000","$386,064",0.376,"$21,331","$1,558,069.6",1298000,Retailing,Seattle,WA,no
2,Apple,"$365,817",33.30%,"$94,680","$2,849,537.60","154,000","$274,515",0.055,"$57,411","$2,050,665.9",147000,Technology,Cupertino,CA,no
3,CVS Health,"$292,111",8.70%,"$7,910","$132,839.20","258,000","$268,706",0.046,"$7,179","$98,653.2",256500,Health Care,Woonsocket,RI,yes
4,UnitedHealth Group,"$287,597",11.80%,"$17,285","$479,830.30","350,000","$257,141",0.062,"$15,403","$351,725",330000,Health Care,Minnetonka,MN,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
840,Dropbox,"$2,157.90",12.70%,$335.80,"$8,873.50","2,667","$1,913.9",0.152,$-256.3,"$11,056.4",2760,Technology,San Francisco,CA,no
841,New Jersey Resources,"$2,156.60",10.40%,$117.90,"$4,405.40","1,251","$1,953.7",-0.246,$193.9,"$3,837.5",1156,Energy,Wall,NJ,no
842,Harsco,"$2,147",14.60%,-$3.20,$969.70,"12,000","$1,874.1",0.035,$-26.3,"$1,354.7",11900,Business Services,Camp Hill,PA,no
843,Beazer Homes USA,"$2,140.30",0.60%,$122,$478.80,"1,052","$2,127.1",0.019,$52.2,$653.6,1063,Engineering & Construction,Atlanta,GA,no
844,Chemed,"$2,139.30",2.90%,$268.60,"$7,592.50","14,137","$2,079.6",0.073,$319.5,"$7,372.2",15544,Health Care,Cincinnati,OH,no

In [44]:
# Replace "-" with NaN in the dataframe
merged_df.replace("-", np.nan, inplace=True)

# Check for null values in the dataframe
null_values = merged_df.isnull()

In [45]:
null_counts = merged_df.isnull().sum()

# Print the count of null values
print(null_counts)

Name                        0
Revenue_2022                0
Revenue(% change)_2022      0
Profits in millions_2022    0
Market value_2022           0
Employees_2022              0
Revenue_2021                0
Revenue(% change)_2021      0
Profits in millions_2021    0
Market value_2021           0
Employees_2021              0
Sector                      0
City                        0
State                       0
Ceo_woman                   0
dtype: int64

In [46]:
# Define functions to convert strings to floats
def convert_dollar_string_to_float(dollar_string):
    return float(dollar_string.replace('$', '').replace(',', ''))

def convert_percent_string_to_float(percent_string):
    return float(percent_string.strip('%'))

In [47]:
# Apply the conversion functions to relevant columns
dollar_columns = ['Revenue_2022', 'Profits in millions_2022', 'Market value_2022', 'Revenue_2021', 'Profits in millions_2021', 'Market value_2021']
percent_columns = ['Revenue(% change)_2022', 'Revenue(% change)_2021']

merged_df[dollar_columns] = merged_df[dollar_columns].applymap(convert_dollar_string_to_float)
merged_df[percent_columns] = merged_df[percent_columns].applymap(convert_percent_string_to_float)

In [48]:
merged_df

,Name,Revenue_2022,Revenue(% change)_2022,Profits in millions_2022,Market value_2022,Employees_2022,Revenue_2021,Revenue(% change)_2021,Profits in millions_2021,Market value_2021,Employees_2021,Sector,City,State,Ceo_woman
0,Walmart,572754.0,2.4,13673.0,409795.0,"2,300,000",559151.0,0.067,13510.0,382642.8,2300000,Retailing,Bentonville,AR,no
1,Amazon,469822.0,21.7,33364.0,1658807.3,"1,608,000",386064.0,0.376,21331.0,1558069.6,1298000,Retailing,Seattle,WA,no
2,Apple,365817.0,33.3,94680.0,2849537.6,"154,000",274515.0,0.055,57411.0,2050665.9,147000,Technology,Cupertino,CA,no
3,CVS Health,292111.0,8.7,7910.0,132839.2,"258,000",268706.0,0.046,7179.0,98653.2,256500,Health Care,Woonsocket,RI,yes
4,UnitedHealth Group,287597.0,11.8,17285.0,479830.3,"350,000",257141.0,0.062,15403.0,351725.0,330000,Health Care,Minnetonka,MN,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
840,Dropbox,2157.9,12.7,335.8,8873.5,"2,667",1913.9,0.152,-256.3,11056.4,2760,Technology,San Francisco,CA,no
841,New Jersey Resources,2156.6,10.4,117.9,4405.4,"1,251",1953.7,-0.246,193.9,3837.5,1156,Energy,Wall,NJ,no
842,Harsco,2147.0,14.6,-3.2,969.7,"12,000",1874.1,0.035,-26.3,1354.7,11900,Business Services,Camp Hill,PA,no
843,Beazer Homes USA,2140.3,0.6,122.0,478.8,"1,052",2127.1,0.019,52.2,653.6,1063,Engineering & Construction,Atlanta,GA,no
844,Chemed,2139.3,2.9,268.6,7592.5,"14,137",2079.6,0.073,319.5,7372.2,15544,Health Care,Cincinnati,OH,no

In [50]:
print(merged_df.dtypes)

Name                         object
Revenue_2022                float64
Revenue(% change)_2022      float64
Profits in millions_2022    float64
Market value_2022           float64
Employees_2022               object
Revenue_2021                float64
Revenue(% change)_2021      float64
Profits in millions_2021    float64
Market value_2021           float64
Employees_2021                int64
Sector                       object
City                         object
State                        object
Ceo_woman                    object
dtype: object

In [51]:
merged_df.to_csv("fortune_1000_cleaned.csv", index=False)